.container{
    position: relative;
    z-index: 10;

    .button{
        padding: 0.5rem;
        border: 1px solid var(--clr-light);
        transition: ease-in-out 0.3s;

        &:hover, &:focus{
            background-color: var(--clr-main);
            color: white;
        }
    }

    .button:focus-within + .dropdown, .dropdown:active {
        display: block;
    }

    .dropdown{
        display: none;
        position: absolute;
        top: 2.4rem;
        border: 1px solid var(--clr-light);
        background-color: var(--clr-background);
        padding: 0.5rem;
        
        a, button{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem;
            margin: 0.1rem 0.2rem;
            transition: ease-in-out 0.3s;

            &:hover{
                background-color: var(--clr-main);
                *{
                    color: white;
                }
            }
        }
        svg{
            display: flex;
            align-items: center;
            font-size: 1.1rem;
            margin-right: 0.5rem;
        }
        span:nth-child(2){
            width: 100%;
        }
    }
    .right{
        right: 0;
    }

}

.middle{
    display: flex;
    align-items: center;
    justify-content: center;
}