.container{
    position: relative;
    display: flex;
    justify-content: center;

    .children:hover + .message{
        display: block;
    }
    .message{
        display: none;
        position: absolute;
        background-color: var(--clr-light);
        z-index: 10;
        padding: 0.2rem 0.4rem;
        font-size: 0.7rem;
        text-align: center;
        border-radius: 5px;
        margin-top: 2.3rem;
    }
}