@keyframes spinner {
    to{
        transform: rotate(360deg);
    }
}

.loading{
    border-radius: 50%;
    display: block;
    animation: spinner 1s linear infinite;
    border-color: var(--clr-main);
    border-top-color: transparent 
}

.center{
    margin: auto;
}