.container{
    width: 100%;
    label:nth-child(1){
        display: block;
        font-size: 0.8rem;
        color: var(--clr-text-light);
        width: 100%;
    }
}
.default{
    color: var(--clr-text)
}
.main{
    color: var(--clr-main);
}
.white {
    color: white;
}
.black {
    color: black;
}
.light{
    color: var(--clr-text-light);
}
.grey{
    color: var(--clr-grey);
}
.dark{
    color: var(--clr-dark);
}
.blue {
    color: var(--clr-blue);
}
.red {
    color: var(--clr-red);
}
.green {
    color: var(--clr-green);
}