.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    label{
        font-size: 0.8rem;
    }
    .default{
        color: var(--clr-text);
    }
    .main{
        color: var(--clr-main);
    }
    .white {
        color: white;
    }
    .black {
        color: black;
    }
    .light{
        color: var(--clr-text-light);
    }
    .grey{
        color: var(--clr-grey);
    }
    .dark{
        color: var(--clr-dark);
    }
    .blue {
        color: var(--clr-blue);
    }
    .red {
        color: var(--clr-red);
    }
    .green {
        color: var(--clr-green);
    }
}