.container{
    position: relative;

    .cover{
        background-color: rgba(18, 18, 18, 0.788);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }

    .icon{
        cursor: pointer;
    }

    .sidebar{
        position: fixed;
        background-color: var(--clr-background);
        right: 0;
        top: 0;
        border-left: 1px solid var(--clr-main);
        height: 100%;
        width: 0;
        animation: slidein 0.5s linear forwards;
        overflow-y: auto;
        padding: 1rem;
        padding-bottom: 8rem;
        z-index: 1000;
        
        .iconOpen{
            display: flex;
            width: 100%;
            
            .close{
                padding: 0.5rem;
                border: 1px solid var(--clr-background);
                background-color: var(--clr-dark);
                margin-right: 0.5rem;
                border-radius: 5px;
                transition: ease-in-out 0.2s;
                margin-bottom: 1rem;

                &:hover{
                    background-color: var(--clr-background);
                }

                svg{
                    display: flex;
                }
            }
        }
    }

    @keyframes slidein {
        from{
            width: 0;
        }
        to{
            width: 100%;
        }
    }

    @media (max-width: 450px){
        .sidebar{
            max-width: 100%;
        }
    }
}